# Ignorar a pasta de dependências do Node.js
/backend/node_modules

# Ignorar arquivos de ambiente (se você usar no futuro)
.env

# Ignorar o banco de dados local do SQLite (se ainda existir)
/backend/*.db

# Arquivos de log e cache do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*